.cont {
  background-color: black;
}
h1, h2, h3, h4, h5, h6 {
  color: wheat;
  margin: 0px 0px 10px 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1; }

h1 {
  font-size: 38px;
}
h2 {
  color: white;
}

p {
  margin: 0 0 20px;
  line-height: 1.7;
}

p:last-child {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #8d8f90;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus, a:hover {
  text-decoration: none;
  color: #f85759;
}

.page-header {
  background: url(https://marsocialauthorbusinessenhancementhorrorpost.files.wordpress.com/2014/10/evil-circus.jpg)no-repeat;
  position: relative;
  background-size: cover;
}
.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
}
.page-title {
  font-size: 46px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.card-section {
  position: relative;
  bottom: 70px;
  color: wheat;
  text-align: center;
}
.card-block {
  padding: 80px;
  max-height: 15em;
  background-color: #6D1302;
  color: white;
}
.section-title {
  margin-bottom: 60px;
}
button {
  width: 10em;
  font-size: 2em;
  font-weight: 600;
  border-radius: 10%;
  background-color: #E39725;
}
