<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{attraction.image}} class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{attraction.nom}}</h5>
          <p class="card-text">Description: {{attraction.description}}</p>
          <p>Durée: {{attraction.duree}}min</p>
          <p>Genre: {{attraction.genre}}</p>

        </div>

      </div>
      <button>Ajouter</button>
    </div>
  </div>
