.cont {
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 2em;
}
.page-header {
  background: url(https://marsocialauthorbusinessenhancementhorrorpost.files.wordpress.com/2014/10/evil-circus.jpg)no-repeat;
  position: relative;
  background-size: cover;
  color:white;
}
.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
  text-align: center;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 3em;
}
.titre {
}
